.conatiner-home {
  margin: 0;
}
.fullDiv {
  width: 100%;
  min-width: 1024px;
  max-width: 1680px;
  position: relative;
  overflow: hidden;
}
.about-crate {
  height: 100%;
  display: flex;
}
.about-crate__left-block {
  width: 60%;
  margin: 0 5%;
}
.about-crate__right-block {
  width: 40%;
  background-color: #f5f5f5;
  position: relative;
  min-height: 100%;
}
.about-crate__header {
  margin-top: 10%;
}
.copy-sub {
  /* font-size: calc(14px + (12 - 10) * (100vw - 1024px) / (1440 - 1024)); */
  font-size: 18px !important;
  line-height: 18px !important;
  margin: 0 !important;
}
.cmsBlack {
  color: #222 !important;
}
.fullDiv a {
  color: #222;
  text-decoration: none;
}
.clear-both {
  clear: both;
}
.text-container {
  position: absolute;
  left: 12%;
  bottom: 18%;
  width: 63%;
}
.fullDiv {
  width: 100%;
  min-width: 1024px;
  max-width: 1680px;
  position: relative;
  overflow: hidden;
}
.hero {
  position: relative;
  max-height: 758px;
}
.fullImg {
  width: 100%;
  max-width: 1680px;
}
.hero__text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translatey(-50%);
  color: #fff;
}
.crate-bold {
  font-family: var(--webfont-primary, sans-serif);
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.cmsWhite {
  color: #fff !important;
}
@media only screen and (min-width: 1440px) {
}
.headline-large {
  line-height: 60px !important;
}
.headline-large {
  font-size: calc(45px + (54 - 45) * (100vw - 1024px) / (1440 - 1024));
  line-height: calc(45px + (63 - 45) * (100vw - 1024px) / (1440 - 1024));
  letter-spacing: -0.1vw;
  word-spacing: -0.1vw;
}
.footer {
  background: #222;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  display: block;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
.socIcon{
    font-size: 22px;
}